.map-frame {
  position: relative;
  width: 100%;
  height: 300px;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  margin: 12px 0;
}

.map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
}
