.map-frame {
  position: relative;
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Dodaj zaobljene ivice */
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Zaobljene ivice za mapu */
}
