/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.leaflet-container img,
.leaflet-container .leaflet-pane img,
.leaflet-container .leaflet-tile,
.leaflet-container img.leaflet-image-layer {
  max-width: none !important;
}
